@model IEnumerable<ModelLayerClassLibrary.Entities.Manufacturer>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id= "ManufacturerList">
    @Html.Partial("_ManufacturerList", Model)
</div>
