@model IEnumerable<WebApplication.ViewModel.Car.ListDetailsDeleteCarViewModel>

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create", Model)
    <div id="CarList" class="col-md-8">@Html.Partial("_CarList", Model)</div>

    <div id="CarDetails" class="col-md-4"></div>

    <div class="clearfix"></div>
</p>

<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>